<div class="welcome">
  <p class="welcome-describe">Create an account or login</p>
  <a class="welcome-register" href="/users/register">Register</a>
  <a class="welcome-login" href="/users/login">Login</a>
</div> 